rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function ownsUserData(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, delete: if ownsUserData(userId);
      allow create, update: if ownsUserData(userId)
        && request.resource.data.uid == userId;

      match /{userDocument=**} {
        allow read, write: if ownsUserData(userId);
      }
    }
  }
}
